* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}


.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 60%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.column {
  float: left;
}

.btn {
  text-decoration: none;
  background-color: #0061FE;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
}

.btn.big {
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
}

.btn.white {
  background-color: white;
  color: black;
  border: 1px solid black;
}


/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
  z-index: 500;
  background-color: white;
}

/* float */
.header-l {
  float: left;
}

.header-r {
  float: right;
}

header nav, header .logo {
  display: inline-block;
}

/* logo e menù */
header .logo img {
  vertical-align: middle;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 25px 0;
}

header nav ul li a {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}


/* JUMBOTRON */
.jumbotron {  
  background-color: #B4D0E6;
  height: 660px;
  margin: 80px auto;
  
}

.jumbotron .container {
  width: 70%;
}


/* left column */
.jumbotron-text {
  width: 30%;
}

.jumbotron h1 {
  font-size: 80px;
  padding-top: 50px;
  padding-bottom: 30px; 
}

.jumbotron .btn.big {
  margin-top: 20px;
  margin-bottom: 10px;
}

.jumbotron-text .small-text {
  font-size: 14px;
}

.jumbotron-text .arrow {
  font-size: 25px;
  margin-top: 20px;
}

/* right column */
.jumbotron-image {
  width: 64%;
  margin-left: 6%;  
}


/**** MAIN ****/
/** abbonamenti **/
.abbonamenti h2 {
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.abbonamenti .fatturazione {
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 40px;
}

/* abbonamenti-box */
.abbonamenti .box {
  border: 1px solid grey;
  margin-bottom: 50px;
}

.abbonamenti .box.column{
  width: calc((100% - 60px) / 3);
}

.abbonamenti .box.column:nth-child(2) {
  margin: 0 30px;
}

/** partner **/
.partner {
  margin-top: 100px;
}

.partner .image {
  width: 60%;
}

.partner .text {
  width: 40%;
}


/** servizi **/
.servizi h2 {
  margin-top: 100px;
}

.servizi .row .column {
  width: calc(100% / 3);
}


/** clienti **/
.clienti .title {
  margin-top: 100px;
  margin-bottom: 50px;
}

/* quadrati tre colonne */
.clienti .column.square, .clienti .column.text {
  height: 30vw;
} 

.clienti .column.square {
  width: 30vw;   
}

.clienti .column.text {
  background-color: #F5F5F5;
  width: calc(100% - 60vw)
}

.clienti .column.text {
  overflow: auto;
}

/* inner row */
.clienti .inner-row {
  height: 50%;
}

.clienti .inner-row .small-square {
  width: 50%;
  height: 100%; 
}

svg {
  width: 100%;
  height: 100%;
  padding: 50px;
  fill: white;
}

/* sfondi quadrati */
#designit {
  background-color: #A2D39B;  
}

#asu {
  background-color: #61082C;
}

#uf {
  background-color: #E26C31;
  filter: invert(1);   
}

#topps {
  background-color: #06E3E2;
  filter: invert(1);  
}

#wbr {
  background-color: #2AFDE0;
  filter: invert(1);  
}

#hearst-corp {
  background-color: #B4D0E7;  
}

#lonely-planet {
  background-color: #0D2481;  
}

#clear-channel {
  background-color: #FED830;  
}

/**prova gratuita**/
.prova {
  background-color: #B4D0E7;
  height: 300px;
  padding-top: 100px;
}

.prova .btn {
  border: none;
  float: right;
}