* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}


.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 60%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.column {
  float: left;
}

.btn {
  text-decoration: none;
  background-color: #0061FE;
  color: white;
  padding: 5px 15px;
  font-size: 14px;
}

.btn.big {
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
}

.btn.white {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.rule {
  height: 1px;
  width: 50px;
  background-color: grey;
}

.blue-link {
  color: #0061FF;
}


/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 15px;
  z-index: 500;
  background-color: white;
}

/* float */
.header-l {
  float: left;
}

.header-r {
  float: right;
}

header nav, header .logo {
  display: inline-block;
}

/* logo e menù */
header .logo img {
  vertical-align: middle;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 25px 0;
}

header nav ul li a {
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}


/* JUMBOTRON */
.jumbotron {  
  height: 660px;
  margin-top: 80px;  
  background-color: #B4D0E6;
}

.jumbotron .container {
  width: 70%;
}

.jumbotron h1 {
  font-size: 80px;
  padding-top: 50px;
  padding-bottom: 30px; 
}

/* left column */
.jumbotron-text {
  width: 30%;
}

.jumbotron .btn.big {
  margin-top: 20px;
  margin-bottom: 10px;
}

.jumbotron-text .small-text {
  font-size: 14px;
}

.jumbotron-text .arrow {
  font-size: 25px;
  margin-top: 20px;
}

/* right column */
.jumbotron-image {
  width: 64%;
  margin-left: 6%;  
}


/**** MAIN ****/
/** abbonamenti **/
.abbonamenti {
  padding-top: 150px;
}

.abbonamenti h2 {
  font-size: 36px;
  padding-bottom: 50px;
}

.abbonamenti .fatturazione {
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 40px;
}

/* abbonamenti-box */
.abbonamenti .box {
  border: 1px solid grey;
}

.abbonamenti .box.column:nth-child(2) {
  margin: 0 30px;
}

.abbonamenti .box.column {
  min-height: 1200px;
  width: calc((100% - 60px) / 3);
  margin-bottom: 50px;
}

.abbonamenti .box .column-title {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid grey;
}

.abbonamenti .box .column-body {
  padding: 0 30px;
}

.abbonamenti .box h3 {
  font-size: 22px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.abbonamenti .box h4.price {
  padding-bottom: 15px;
}

.abbonamenti .box.column .pagamento {
  font-size: 14px;
  padding-bottom: 40px;
  color: grey;
}

.box.column .utenti, .box.column .archiviazione {
  padding-bottom: 30px;
}

.abbonamenti .box .btn {
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 8px 40px;
}

.abbonamenti .box.column .rule {
  margin-top: 30px;
  margin-bottom: 40px;
}

/* abbonamenti-box lista*/
.abbonamenti .piano-promozione h4 {
  padding-bottom: 25px;
}

.abbonamenti .piano-promozione ul li {
  list-style: none;
  padding-bottom: 30px;
}

.abbonamenti .piano-promozione ul li::before {
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  font-weight: bold;
  color: #0061FF;
  padding-right: 5px;
}

/* box grande sotto */
.abbonamenti .box.big {
  padding-bottom: 30px;
}

.abbonamenti .box.big h4 {
  padding-bottom: 35px;
}
.abbonamenti .box.big .btn {
  float: right;
  margin-top: 30px;
  padding: 8px 70px;
} 

/** partner **/
.partner {
  padding-top: 150px;
}

.partner .image {
  width: 60%;
  padding-right: 50px;
}

.partner .text {
  width: 40%;
  padding-top: 50px;
}

.partner .text h3 {
  font-size: 24px;
  padding-bottom: 30px;
}

.partner .text p {
  padding-bottom: 25px;
}


/** servizi **/
.servizi h2 {
  font-size: 36px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.servizi .row .column:nth-child(2) {
  margin: 0 60px;
}

.servizi .row .column {
  width: calc((100% - 120px) / 3);
  padding-bottom: 80px;
}

.servizi .column h3 {
  font-size: 20px;
  padding-bottom: 20px;
}


/** clienti **/
.clienti .title {
  margin-top: 100px;
  margin-bottom: 50px;
}

/* quadrati tre colonne */
.clienti .column.square, .clienti .column.text {
  height: 30vw;
} 

.clienti .column.square {
  width: 30vw;   
}

.clienti .column.text {
  background-color: #F5F5F5;
  width: calc(100% - 60vw)
}

.clienti .column.text {
  overflow: auto;
}

/* inner row */
.clienti .inner-row {
  height: 50%;
}

.clienti .inner-row .small-square {
  width: 50%;
  height: 100%; 
}

svg {
  width: 100%;
  height: 100%;
  padding: 50px;
  fill: white;
}

/* sfondi quadrati */
#designit {
  background-color: #A2D39B;  
}

#asu {
  background-color: #61082C;
}

#uf {
  background-color: #E26C31;
  filter: invert(1);   
}

#topps {
  background-color: #06E3E2;
  filter: invert(1);  
}

#wbr {
  background-color: #2AFDE0;
  filter: invert(1);  
}

#hearst-corp {
  background-color: #B4D0E7;  
}

#lonely-planet {
  background-color: #0D2481;  
}

#clear-channel {
  background-color: #FED830;  
}

/**prova gratuita**/
.prova {
  background-color: #B4D0E7;
  height: 300px;
  padding-top: 100px;
}

.prova .btn {
  border: none;
  float: right;
}

/** faq **/
.faq {
  padding: 100px 0;
}

.faq h3 {
  font-size: 35px;
  padding-bottom: 50px;
}

.faq .question {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid grey;
}

.faq .question:last-child {
  border-bottom: 1px solid grey;
}

.faq .question i {
  position: absolute;
  top: 30px;
  right: 40px;
}


/* FOOTER */
footer {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: black;
}

footer .container {
  width: 80%;
}

footer .column {
  width: calc(100% / 5);
  color: white;
}

footer .column h6 {
  font-size: 18px;
  padding-bottom: 10px;
}

footer .column ul li {
  list-style: none;
  font-size: 14px;
  line-height: 25px;
}

footer .rule {  
  width: 110px;
  margin-top: 100px;
  margin-bottom: 40px;
  background-color: white;
}

footer .language {
  font-size: 14px;
  color: #999999;
}